numpy
matplotlib
pandas
jupyter
ipywidgets
transformers==4.28.0
tokenizers==0.13.3
evaluate==0.3.0
accelerate
deepspeed==0.8.3
datasets==2.13.1
wandb
scikit-learn
scipy
bitsandbytes
autopep8
black
attrdict
pylint